body {
    background-color: orange;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

.insert {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #4299e1;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    border-bottom: 4px solid #2b6cb0;
    font-weight: 700;
    color: white;
    line-height: 26px;
}

::placeholder {
    color: white;
    opacity: 1;
  }

.add {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #4299e1;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    border-bottom: 4px solid #2b6cb0;
    font-weight: 700;
    color: white;
    line-height: 26px;
}

h1{
    font-family: cursive;
    color: #4299e1;
    text-shadow: 2px 2px black;
}






